flight_deals/.DS_Store
flight_deals/.env
yt_downloader/test.html
yt_downloader/__pycache__/yt_playlist.cpython-310.pyc
yt_downloader/__pycache__/yt_video.cpython-310.pyc
yt_downloader/.env
yt_downloader/__pycache__/yt_sidebar.cpython-310.pyc
test.html
pong/model/__pycache__/ball.cpython-310.pyc
pong/model/__pycache__/__init__.cpython-310.pyc
yt_downloader/__pycache__/yt_collection.cpython-310.pyc
flash_cards/__pycache__/card.cpython-310.pyc
pong/model/__pycache__/paddle.cpython-310.pyc
flash_cards/__pycache__/card.cpython-310.pyc
